@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #CBBD93;
    font-family: poppins;
}

.navbar{
    background-color: #275B3A;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: end;
    position: static;
    justify-content: end;
}

.navbar .navbar1{
    background-color: white;
    position: relative;
    border-radius: 200px;
    top: 100px;
    
    border: #275B3A solid 30px;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    border: none;
}

.box-img{
    width: 50%;
    height: 90vh;
    background-image: url(/img/pexels-polina-tankilevitch-3735202\ 1\ \(1\).png);
    background-repeat: no-repeat;
    background-size: 540px;
    background-position: center;

}

.container .position{
    width: 70%;
    height: 100%;
    display: flex;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    position: relative;
    top: 10vh;
}

.login .titulos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.titulos h1{
    display: flex;

}

.titulos h3{
    font-size: 20px;
}

.login .logininput{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.logininput .input1{
    width: 50%;
    height: 6vh;
    border-radius: 50px;
    font-size: 15px;
    padding: 10px;
    border: solid 1px black;
    background-color: transparent;
    color: black; /* Cor do texto */
    outline: none;
}

.logininput .input2{
    width: 50%;
    height: 5vh;
    border-radius: 50px;
    font-size: 15px;
    padding: 10px;
    border: solid 1px black;
    background-color: transparent;
    color: black; /* Cor do texto */
    outline: none;
}

.logininput .entrar{
    width: 30%;
    height: 8vh;
    border-radius: 50px;
    color: white;
    background-color: #275B3A;
    cursor: pointer;
}

.logininput .google{
    width: 40%;
    height: 8vh;
    display: flex ;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    color: white;
    border-radius: 50px;;
    background-color: #275B3A;
    cursor: pointer;
}

.login .cadastro{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.cadastro .register{
    width: 30%;
    height: 8vh;
    border-radius: 50px;
    color: white;
    background-color: #275B3A;
    color: white;
    text-decoration: none;
    font-style: normal;
    font-size: 4vh;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
}

